.author-container {
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .author-post + .author-post {
    margin-top: 2rem;
  }
  
  .author-excerpt {
    position: relative;
  }

  .author-ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
  }
  
  .author-card {
    background-color: #ffffffe5;
    padding: 2rem;
    animation: shadow-animationTwo 2s infinite;
    border: none;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .author-card:hover {
    rotate: 8deg;
  }

  .about-title {
    color: #ccc;
    font-size: 1.125rem; /* 18px */
    max-width: 30rem; /* 480px */
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
  }
  
  .about-icon {
    color: rgb(255, 185, 33); /* indigo-600 */
    margin-left: 0.75rem;
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
  }

  .author-title {
    color: white;
    font-size: 2.3rem;
    font-weight: 400;
    max-width: 48rem;
    margin: 0 auto 4rem;
    line-height: 1.5;
    font-family: "Russo One", sans-serif;
    font-style: normal;
  }

  .author-image {
    width: 100%;
    max-width: 600px;
    filter: grayscale(100%);
    z-index: -1;
  }

  @keyframes shadow-animationTwo {
    0% {
      box-shadow:  50px 50px 100px rgba(255, 185, 33, 0.185),
      -10px -10px 50px rgba(255, 185, 33, 0.185);
    }
    50% {
      box-shadow:  40px 40px 80px rgba(255, 185, 33, 0.185),
      -5px -5px 40px rgba(255, 185, 33, 0.185);
    }
    100% {
      box-shadow:  30px 30px 60px rgba(255, 185, 33, 0.185),
      -1px -1px 30px rgba(255, 185, 33, 0.185);
    }
  }
  
   /* .card:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #3a493d;
    position: absolute;
    transform: rotate(45deg);
    bottom: -10px;
  } */
  
  .author-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(255, 185, 33);
  }
  
  /* .card__date {
    text-transform: uppercase;
    letter-spacing: 0.3em;
  } */

  .author-h1 {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2em;
  }

  .author-p {
    margin-top: 15px;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 3px;
    color: #000000;
  }

  .author-btn {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: "Alumni Sans", sans-serif;
    background: transparent;
    border: none;
    border-top: 1px solid #ffb921;
    padding: 1em 1.5em;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .author-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color:#ffb921;
    transition: 0.5s ease;
  }
  
  .author-btn:hover {
    color: #1e1e2b;
    font-weight: 500;
    transition-delay: 0.5s;
  }
  
  .author-btn:hover::before {
    width: 100%;
  }
  
  .author-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffb921;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .author-btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

  @media (min-width: 1050px) {
    .author-container {
      width: 60%;
    }
  }
  
  @media (min-width: 800px) {
  
    .author-post {
      display: flex;
      align-items: center;
    }
  
    .author-excerpt {
      width: 45%;
    }
  
    .author-image {
      width: 65%;
    }
  
    .author-post:nth-child(odd) .author-excerpt {
      margin-right: -4rem;
    }
  
    .author-post:nth-child(odd) {
      right: -10px;
    }
  
    .author-post:nth-child(odd) .author-header,
    .author-post:nth-child(odd) .author-cta {
      text-align: right;
    }
  
    .author-post:nth-child(even) .author-excerpt {
      order: 1;
      margin-left: -4rem;
    }
  
    .author-post:nth-child(even) {
      left: -10px;
    }
  }

  @media (max-width: 1050px) {
    .author-h1 {
      font-size: 1.7em;
    }

  }


  @media screen and (min-width: 767px) and (max-width: 1024px) {
    .author-container {

    }
  }

  @media (max-width: 800px) {
    
    .author-container {
      width: 90%;
    }

    .author-h1 {
      font-size: 1.5em;
    }

    .author-p {
      text-align: left;
    }

  }

  /* @media (max-width: 750px) {
    .certificate-ul {
      margin-right: 10px;
    }
  } */


  @media (max-width: 500px) {

    .author-card {
      transition: none;
    }

    .author-card:hover {
      rotate: none;
    }

    .author-h1 {
      font-size: 1.4em;
    }

    .author-p {
      text-align: center;
      font-size: 18px;
    }

    .about-title {
      font-size: 0.9rem;
    }

    .author-title {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 375px) and (max-height: 667px) {
    
    .author-container {
      margin-top:0vh;
    }
    }


  @media (max-width: 370px) {
    
    .author-container {
      margin-top:20vh;
    }
  }

  @media screen and (max-width: 360px) and (max-height: 640px) {
    
    .author-container {
      margin-top:0vh;
    }
    }

  @media (max-width: 330px) {
    
    .author-container {
      margin-top:0vh;
    }
  }