.button-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999999;
    /* font-size: 18px;
    padding: 10px 15px; */
    border: none;
    /* background-color: white;*/
    color: rgb(255, 185, 33);
    cursor: pointer;
    /* border-radius: 4px; */
    display: none;
  }
  
  .button-to-top.show {
    display: block;
  }

  @media screen and (max-width: 712px) {
    .button-to-top {
      color: rgb(255, 185, 33);
    }
  }



.button-to-top {
  width: 40px;
  height: 40px;
  /* background-color: #56cbe7; */
  border-radius: 22.5px;
  /* left: 50%; */
  /* margin-left: -22.5px;
  z-index: 45;
  cursor: pointer; */
  text-align: center;
  font-size: 20px;
  /* line-height: 35px; */
  &:hover {
  color: #fff;
  }
  &::before, &::after {
    content: "";
    position: absolute;
    left: -12px;
    top: -4px;
    width: 45px;
    height: 45px;
    border: rgb(255, 185, 33) 12px solid;
    opacity: 0.3;
    animation: ripple 3.0s ease-out infinite;
    border-radius: 50%;
    z-index: -1;
  }
  &:after {
    animation-delay: -0.6s;
  }
  &.scroll-button-floating {
    position: fixed;
    bottom: 100px;
    transition: opacity .5s;
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }

  50%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@-moz-document url-prefix() {
  .button-to-top {
    &::before, &::after {
      left: -3px;
      top: 1px;
    }
  }
  }