.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;
  /* margin:10vh; */
}

.favors-title {
  color: #ccc;
  font-size: 1.125rem; /* 18px */
  max-width: 30rem; /* 480px */
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
}

.favors-icon {
  color: rgb(255, 185, 33); /* indigo-600 */
  margin-left: 0.75rem;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
}

.services-title {
  color: white;
  font-size: 2.3rem;
  font-weight: 400;
  max-width: 48rem;
  margin: 0 auto 4rem;
  line-height: 1.5;
  font-family: "Russo One", sans-serif;
  font-style: normal;
}

.grid-offer-styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .grid-offer-styles {
    grid-template-columns: 1fr;
  }
}

.favors-card {
  background-color: #3a493d;
  padding: 1rem;
  position: relative;
  border: none;
  animation: shadow-animation 2s infinite;
  /* box-shadow:  50px 50px 100px rgba(241, 231, 40, 0.2),
             -10px -10px 50px rgba(241, 231, 40, 0.2); */
}

@keyframes shadow-animation {
  0% {
    box-shadow:  50px 50px 100px rgba(255, 185, 33, 0.185),
    -10px -10px 50px rgba(255, 185, 33, 0.185);
  }
  50% {
    box-shadow:  40px 40px 80px rgba(255, 185, 33, 0.185),
    -5px -5px 40px rgba(255, 185, 33, 0.185);
  }
  100% {
    box-shadow:  30px 30px 60px rgba(255, 185, 33, 0.185),
    -1px -1px 30px rgba(255, 185, 33, 0.185);
  }
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-card-content {
  position: relative;
  padding: 30px;
}

/* .services-card-right {
  padding-left: 13rem;
} */

.services-card-title {
  text-transform: capitalize;
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
}

.services-card-description {
  color: #ffffffef;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-top: 15px;
}

.services-header {
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid rgb(255, 185, 33);
}

.services-card {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    background-color: rgb(255,186,33);
    background: linear-gradient(0deg, rgba(255,186,33,0.3785889355742297) 0%, rgba(255,186,33,1) 100%);
  }

  &:hover {
    box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem rgb(0 0 0 / 53%);
  }

  &:nth-child(1)::before {
    bottom: 0;
    right: 0;
    clip-path: circle(calc(5.85rem + 7.5vw) at 100% 100%);
  }

  &:nth-child(2)::before {
    bottom: 0;
    left: 0;
    clip-path: circle(calc(5.85rem + 7.5vw) at 0% 100%);
  }

  &:nth-child(3)::before {
    top: 0;
    right: 0;
    clip-path: circle(calc(5.85rem + 7.5vw) at 100% 0%);
  }

  &:nth-child(4)::before {
    top: 0;
    left: 0;
    clip-path: circle(calc(5.85rem + 7.5vw) at 0% 0%);
  }

  p, h2 {
    transition: 0.8s;
  }
}

.services-card:hover::before {
  clip-path: circle(110vw at 100% 100%);
}

.services-card:hover p {
  color: #000000;
}

.services-card:hover h2 {
  color: rgb(31, 24, 18);
}

.services-card:hover .services-header  {
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);
}

.services-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.services-card:nth-child(1) .services-circle{
  background: linear-gradient(0deg, rgba(255,186,33,0.3785889355742297) 0%, rgba(255,186,33,1) 100%), url('../assets/places.png') no-repeat 50% 50% / cover;
  bottom: 0;
  right: 0;
  clip-path: circle(calc(5.85rem + 7.5vw) at 100% 100%);
}

.services-card:nth-child(2) .services-circle {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.379) 0%, rgb(240, 240, 240) 100%), url('../assets/comfortable.png') no-repeat 50% 50% / cover;
  bottom: 0;
  left: 0;
  clip-path: circle(calc(5.85rem + 7.5vw) at 0% 100%);
}

.services-card:nth-child(3) .services-circle {
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(0, 0, 0, 0.379) 100%), url('../assets/logistics.png') no-repeat 50% 50% / cover;
  top: 0;
  right: 0;
  clip-path: circle(calc(5.85rem + 7.5vw) at 100% 0%);
}

.services-card:nth-child(4) .services-circle {
  background: linear-gradient(0deg, rgba(255,186,33,1) 0%, rgba(255,186,33,0.3785889355742297) 100%), url('../assets/groups.png') no-repeat 50% 50% / cover;
  top: 0;
  left: 0;
  clip-path: circle(calc(5.85rem + 7.5vw) at 0% 0%);
}

@media (min-width: 1058px) {
  .services-card-left {
    padding-right: 13rem;
  }

  .services-card-right {
    padding-left: 13rem;
  }
}

@media (max-width: 500px) {
  .services-section {
    margin-top:20vh;
  }

  .favors-title {
    font-size: 0.9rem;
  }

  .services-title {
    font-size: 1.5rem;
  }
}
/*.circle {
  @include mQ(62.5rem) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.card:nth-child(1) .circle {
  background: url("https://images.unsplash.com/photo-1587440871875-191322ee64b0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat 50% 50% / cover;
  bottom: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}

.card:nth-child(2) .circle {
  background: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat 50% 50% / cover;
  bottom: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}
.card:nth-child(3) .circle {
  background: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat 50% 50% / cover;
  top: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}

.card:nth-child(4) .circle {
  background: url("https://images.unsplash.com/photo-1600880292203-757bb62b4baf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat 50% 50% / cover;
  top: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}



  .text-gray {
    color: #718096;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .text-indigo {
    color: #667eea;
  }
  
  .w-6 {
    width: 1.5rem;
  }
  
  .h-6 {
    height: 1.5rem;
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .md\:text-5xl {
    font-size: 3rem;
  }
  
  .xl\:text-6xl {
    font-size: 4rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .max-w-3xl {
    max-width: 48rem;
  }
  
  .mb-16 {
    margin-bottom: 4rem;
  }
  
  .leading-snug {
    line-height: 1.375;
  }
  
 .grid-offer {
    display: grid;
  }
  
  .text-left {
    text-align: left;
  }
  
  .grid {
    display: grid;
  }
  
   .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .gap-5 {
    gap: 1.25rem;
  }
  
  .max-w-5xl {
    max-width: 80rem;
  }
  
  .card {
    background-color: #2d3748;
    padding: 1.25rem;
    position: relative;
  }
  
  .relative {
    position: relative;
  }
  
  .lg\:pr-52 {
    padding-right: 3.25rem;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .xl\:text-3xl {
    font-size: 1.875rem;
  }
  
  .lg\:pl-48 {
    padding-left: 3rem;
  }
  
  .text-gray-400 {
    color: #cbd5e0;
  }
  
  .capitalize {
    text-transform: capitalize;
  } */