.countdown{
  display: flex;
  justify-content: center;
  gap: 20px;
}
  
.countdown > div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  width: 30px;
  height: 20px;
  border-radius: 5px;
}

.number_timer {
  font-weight: 600;
  margin-top: 25px;
  font-size: 16px;
  color: #c0bca8;
  font-family: "Anonymous Pro", monospace;
  font-style: normal;
}

.text_timer{
  color: #000000;
  font-family: "Anonymous Pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}